*, *:before, *:after {
  box-sizing: border-box;
}


.App {
  text-align: center;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 10px;
  width: 100%;
}

.gallery-grid .image-item:nth-child(5n) {
  grid-column-end: span 2;
}

@media (min-width: 20em) {
  .gallery-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 34em) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 60em) {
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery-grid img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-grid div {
  position: relative;
  cursor: pointer;
}

.gallery-grid div:before, .gallery-grid div:after {
  transition: .3s opacity ease;
  opacity: 0;
}
.gallery-grid div:after {
  content: '\02194';
  font-size: 80px;
  position: absolute;
  transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  color: #fff;
  left: 50%;
  top: 50%;
  display: block;
}
.gallery-grid div:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 4px;
  left: 0;
  right: 0;
  background: rgba(34, 34, 34, 0.5);
  display: block;
}
.gallery-grid div:hover:before, .gallery-grid div:hover:after {
  opacity: 1;
  transition: .3s opacity ease;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 0;
  transform: translate(-50%, -50%);
}

@media (min-width: 20em) {
  .modal {
    width: 95%;
  }
}
@media (min-width: 34em) {
  .modal {
    width: 80%;
  }
}
@media (min-width: 60em) {
  .modal {
    width: 60%;
  }
}

.modal img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal-overlay {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

.modal-body a {
  position: absolute;
  display: block;
  color: #222;
  text-decoration: none;
  line-height: 36px;
  font-size: 30px;
  font-weight: lighter;
  background: #fff;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  text-align: center;
}

.modal-body .modal-close {
  right: 0;
  top: 0;
  border-radius: 0 0 0 5px;
}

.modal-body .modal-next,
.modal-body .modal-prev {
  right: 0;
  top: calc(50% - 25px);
  border-radius: 5px 0 0 5px;
  height: 50px;
  line-height: 40px;
  font-size: 60px;
  opacity: 0.7;
}

.modal-body .modal-prev {
  left: 0;
  right: auto;
  border-radius: 0 5px 5px 0;
}

.modal-body {
  position: relative;
}

.imgPreview {
  height: 100px;
  width: 100px;
}