*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background-color: #E3E8FF;
}

.App {
  text-align: center;
}

.upload-btn {
  width: 270px;
  margin: 20px;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 15px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  text-transform: uppercase;
  font-weight: 700;
}